@import "./styles/dark-mode.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global light / dark background + text */
@layer base {
  html {
    @apply bg-white text-slate-900;
  }

  html.dark {
    @apply bg-slate-900 text-slate-100;
  }

  body {
    @apply bg-inherit text-inherit antialiased;
  }
}
